*{
    padding: 0;
    margin: 0;
    
}


.container{
    background: #333;
    height: 340px;
    width: 675px;
    margin: 0px auto;
    padding: 50px 0;
    vertical-align: top;
}

.list{
    max-width: 500px;
    margin: 0px auto;
}

label{
    display: block;
    background-color: #88839e;
    padding: 7px;
    font-family: sans-serif;
    color: #fff;
    border-top: 2px solid #88839e;
    border-bottom: 2px solid #88839e;
    transition: all 0.3s;
    
}
label:nth-child(2n){
   background-color: #7a7593; 
    border-top: 2px solid #7a7593; 
    border-bottom: 2px solid #7a7593; 
}

input:checked + span{
    text-decoration: line-through;
}


.description{
    font-size: 12px;

    
    
}

.description:before{
    content: '('
}

.description:after{
    content: ')'
}
label:hover{
    border-top: 2px solid #fff; 
    border-bottom: 2px solid #fff; 
    background-color: #888;
    cursor: pointer;
}
header{
    background: #4A4F56;
    text-align: center;
    color: #EA7C7C;
    width: 675px;
    margin: auto;
    height: 85px;
    
    
}
.top h1{
    padding: 5px 150px;
    
    
}
p{
    color: #EA7C7C;
    
}

.bottom-box{
    width: 500px;
    height: 50px;
    background: #4A4F56; 
    margin: 25px auto;
}
p{
    text-align: center;
    padding: 11px;
    font-size: 20px;
}




































