*{
    margin: 0;
    padding: 0;
}

.container{
    background: #3399CC;
    width: 1000px;
    height: 680px;
    margin: 50px auto;
    border: 20px solid #2B81AC;
}

h2{
    position: absolute;
    color: #D8F1F9;
    margin: 23px 118px;
    
}

.weather-block{
    width: 750px;
    height: 450px;
    margin: 80px auto;
    vertical-align: middle;
    font-size: 0px;
    border: 3px solid #fff;
    
    
}

.lisabon-city{
    background: #08c;
    width: 50%;
    height: 25%;
    
    
    
}

.paris-city{
    background: #33CCCC;
    width: 25%;
    height: 25%;
    
    
}

.belgrad-city{
    background: #996699;
    width: 25%;
    height: 25%;
    
    
    
}
.moscow-city{
    background: #C24747;
    width: 25%;
    height: 25%;
    
    
}
.tel-aviv-city{
    background: #E2674A;
    width: 25%;
    height: 25%;
    
    
}
.cair-city{
    background: #FFCC66;
    width: 25%;
    height: 25%;
    
    
}
.new-york-city{
    background: #99CC99;
    width: 25%;
    height: 25%;
    
    
}
.new-delhi-city{
    background: #669999;
    width: 25%;
    height: 25%;
    
    
    
}

.san-francisco-city{
    background: #CC6699;
    width: 50%;
    height: 25%;
    
    
}

.tokiyo-city{
    background: #339966;
    width: 25%;
    height: 25%;
    
    
}
.sydney-city{
    background: #666699;
    width: 100%;
    height: 25%;
    
    
}





[class$="-city"]{
    display: inline-block;
    border: 3px solid #fff;
    transition: 0.5s;
    vertical-align: top;
    font-size: 15px;
    box-sizing: border-box;
    
    
    
}
h3{
    color: #E4E4EE;
    text-align: center;
    padding: 15px;
}




[class$="-city"]:hover{
    opacity: 0.5;
    
}


h4{
    position: absolute;
    color: #F4FAFA;
    margin: -37px 118px;
    font-weight: 400;
}

img{
    vertical-align: middle;
    width: 40px;
    color: #F8FDFE;
    
}









